body{
  background: black;
}
.title{
  font-size: 20px;
  color: white;
}
.nome-time{
  background: black;
  border: black;
  color: white;
  font-size: 40px;
  width: 100%;
  text-align: center;
}
.score{
  font-size: 170px;
  color: red;
}
.time{
  font-size: 120px;
  color: red;
}
.alignbutton{
  margin-top: 70px;
}
.alignchkbox{
  text-align: left;
  color: white;
  font-size: 15px;
}
